<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p>
            Copyright {{ 'now' | date('Y') }} by supervisionpferd.de – <a href="/impressum">Impressum</a>
        </p>
    </section>
</section>
