.float-left {
	width: 45%;
	margin: 15px 15px 15px 0px;

	@include breakpoint(md) {
		width: 100%;
	}
}

.float-right {
	width: 45%;
	margin: 15px 0px 15px 15px;

	@include breakpoint(md) {
		width: 100%;
	}
}